body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a:visited {
  color: black
}

a.choix {
  font-weight: 700;
  color: black;
}

h1 {
  font-size: 3em;
}

h4 {
  margin: 0;
}

p {
  color: red;
  font-style: italic;
  margin-left: 5em;
}

header.header {
  text-align: center;
  background: #ffb6ea;
}

main.simply {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 740px;
}

footer {
  background: #ffb6ea;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section.mentions {
  width: 70px;
}

img.logo {
  width: 2em;
  border-radius: 0px;
  margin-left: 25px;
}

span.ingredient {
  color: blue;
}

figcaption {
  font-size: smaller;
  text-align: end;
}

article.illustration {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1300px;
}